.div-ed-io {
  display: flex;
  justify-content: space-between;
}

.io {
  width: 23%;
  display: flex;
  flex-direction: column;
  margin-right: 1%;
}

.compile {
  border: 2px solid;
  border-image: linear-gradient(to right, #df275e, #d7a322);
  border-image-slice: 1;
  box-shadow: 5px 5px black;
  margin-bottom: 1vh;
  font-size: large;
  font-weight: 600;
  font-style: italic;
}
